#root,
body {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
}

nav {
  padding-left: 4em;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding-right: 2em;
}

header {
  display: flex;
  align-items: center;
  padding: 0 0 0 4em;
  width: 100vw;
}

.nav-button {
  background-color: black;
  color: white;
  border-color: black;
}

.nav-button:hover {
  cursor: pointer;
  color: #e600e6;
}

.socials {
  display: flex;
}

.socials > div {
  padding-right: 2em;
}

h1 {
  font-size: 6em;
}

.intro {
  padding: 2em;
  width: 70vw;
}
